body{
  background-color: fuchsia;
}
#buttonZero{
  width: 320px;
}
button:hover{
  background-color: darkgray;
  color: black;
}
.numberButtons{
  height: 150px;
  width: 150px;
  color: pink;
  background-color: hotpink;
  font-size: 48px;
  border-left: 0px;
  border-top: 0px;
  border-color: deeppink;
  position: absolute;
}
.rowOne{
  top: 70px;
}
.rowTwo{
  top: 240px;
}
.rowThree{
  top: 410px;
}
.rowFour{
  top: 580px;
}
.rowFive{
  top: 750px;
}
.columnOne{
  left: 300px;
}
.columnTwo{
  left: 470px;
}
.columnThree{
  left: 640px;
}
.columnFour{
  left: 810px;
}
