body{
  background-color: skyblue;
}
#buttonZero{
  width: 265px;
}
button:hover{
  background-color: black;
  color: lightgreen;
  border-color: lightgreen;
  transition-duration: 0.69s;
}
.numberButtons{
  height: 125px;
  width: 125px;
  color: black;
  background-color: lightgreen;
  font-size: 48px;
  border-left: 0px;
  border-top: 0px;
  border-color: black;
  position: absolute;
}
.useButtons{
  height: 125px;
  width: 125px;
  color: black;
  background-color: lightgreen;
  font-size: 48px;
  border-left: 0px;
  border-top: 0px;
  border-color: black;
  position: absolute;
}
.rowOne{
  top: 180px;
}
.rowTwo{
  top: 320px;
}
.rowThree{
  top: 460px;
}
.rowFour{
  top: 600px;
}
.rowFive{
  top: 740px;
}
.columnOne{
  left: 350px;
}
.columnTwo{
  left: 490px;
}
.columnThree{
  left: 630px;
}
.columnFour{
  left: 770px;
}
input{
  height: 75px;
  width: 540px;
  position: absolute;
  top: 90px;
  left: 350px;
  background-color: cadetblue;
  border-color: black;
  border-left: 0px;
  border-top: 0px;
}
